@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 180px;
  min-width: 100px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
  padding-left: 10px;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* 新規ユーザー登録 */
.old_year,
.old_month,
.old_day {
  border: none;
  border-bottom: solid 1px #0000FF;
}



/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.table th {
  border: solid 1px #dee2e6;
  font-size: 13px;
}

.calendar-td {
  min-width: 100px;
  border: solid 1px #dee2e6;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
  border-radius: 10px;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

.search-content {
  width: 100%;
  margin-bottom: 10px;
}

.search-1 {
  max-width: 100%;
  display: flex;
}

.search-box {
  width: 75%;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
  background: #ECF1F6;
  font-size: 13px;
  border: solid 1px #DEE2E6;
}

.search-btn {
  width: 25%;
  height: 30px;
  border-radius: 0 5px 5px 0;
  background: #04A9D2;
  border: none;
  color: #fff;
  font-size: 13px;
}

.search-2 {
  display: flex;
}

.like-post-btn,
.mypost-btn {
  border: solid 1px #DEE2E6;
  width: 50%;
  font-size: 13px;
  color: #FFFFFF;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

.like-post-btn {
  background-color: #E38EAB;
}

.mypost-btn {
  background-color: #EBBC5D;
}

/* 新規投稿画面 */
.post_create_area {
  height: 90%;
  min-height: 200px;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
  border-radius: 10px;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  border-bottom: solid 1px #000000;
  cursor: pointer;
}


/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: auto;
  height: 100vh;
  overflow: scroll;
  padding: 10px;
  background: #ECF1F6;
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
  font-weight: bold;
}

.one_person {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px #DBE0E4;
  margin: 5px;
  padding: 10px;
  background-color: #FFF;
}

.search_conditions {
  font-size: 13px;
  border-bottom: solid 1px #000000;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: #ECF1F6;
  font-size: 13px;
}

.search_conditions_inner label {
  padding-top: 5px;
}

.subject_edit_btn {
  font-size: 12px;
  color: #03AAD2;
  cursor: pointer;
}

.subject_inner {
  display: none;
  padding-top: 10px;
}

.free_word {
  background-color: #E0E5E9;
  border: none;
  font-size: 13px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  color: #777777;
}

.search_area {
  padding: 30px 20px 0 20px;
}

.search_area label {
  font-size: 13px;
  color: #4A6C89;
}

.search-element {
  margin: 10px auto;
}

.element-add {
  margin: 20px 0 0 10px;
}

.element-add label {
  margin: 10px 0 5px 0;
}

.search-element select {
  display: block;
  background-color: #E0E5E9;
  border: none;
  font-size: 13px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #000000;
}

.element-add p {
  position: relative;
}

.element-add p:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: #000 2px solid;
  border-right: #000 2px solid;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  right: 2%;
  top: 0;
  bottom: 15%;
  margin: auto;
}

.element-add .selected:after {
  transform: rotate(-45deg);
}

/* ユーザープロフィール */
.user_status {
  box-shadow: 0 0 10px #DBE0E4;
}

.profile-acd span:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: #03AAD2 2px solid;
  border-right: #03AAD2 2px solid;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 5px;
}

.profile-acd .selected:after {
  transform: rotate(-45deg);
}
